body {
    font-family: Arial, sans-serif;
}

.table-container {
    overflow-x: auto;
    /* overflow: hidden; */
    max-width: 100%;
    position: relative;
    border: 1px solid #4d4d4d;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    min-width: 100px;
    user-select: none;
}

th {
    padding: 8px;
    background-color: #f2f2f2;
}

thead th:first-child,
tbody th {
    position: sticky;
    left: 0;
    z-index: 2;
}

thead th {
    cursor: pointer;
    text-transform: capitalize;
}

thead th span,
thead th .sort-button {
    display: inline-block;
    vertical-align: middle;
}

td {
    position: relative;
}

tbody td {
    text-align: center;
    height: 100%;
}

td input[type="text"],
td input[type="number"],
td input[type="search"],
td select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px;
    box-sizing: border-box;
}

td select {
    width: 95%;
}

/* input[aria-readonly="true"],
select[aria-readonly="true"] {
    pointer-events: none;
} */

input:focus:not([readonly]),
/* input[type="checkbox"]:focus:not([aria-readonly="true"]), */
select:focus:not([aria-readonly="true"]) {
    color: rgb(115, 4, 219);
    font-weight: bold;
}

.selected {
    background-color: #d1e7ff;
}

.selected-th {
    background-color: #d0d0d0;
}

.startCell {
    outline: 2px solid #007bff;
}

.clonedCell {
    outline: 1px dashed #007bff;
}

.sort-button {
    float: right;
    width: 20px; /* SVG의 크기에 맞게 너비와 높이 설정 */
    height: 20px;
    border-radius: 50%;
    background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuNDEgOC41OUwxMiAxMy4xN2w0LjU5LTQuNThMMTggMTBsLTYgNi02LTZ6Ij48L3BhdGg+PC9zdmc+");
    background-size: cover; /* 이미지를 전체 버튼 크기에 맞추기 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: center; /* 이미지 위치 가운데 정렬 */
    border: none; /* 버튼의 테두리 제거 */
    cursor: pointer; /* 마우스 커서 모양 변경 */
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}
.sort-button[data-sort=""] {
    background-position: -10000rem;
    /* transform: rotate(-90deg); */
}
.sort-button[data-sort="ascending"] {
    transform: rotate(0);
}
.sort-button[data-sort="descending"] {
    transform: rotate(180deg);
}

.popover {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    box-sizing: content-box;
    font-size: 12px;
}

.popover-item {
    padding: 8px;
    cursor: pointer;
}

.popover-item:hover,
.popover-item.selected {
    background-color: #007bff;
    color: white;
}

.csv-button {
    cursor: pointer;
}

.highlight {
    background-color: yellow;
}
